{
  "swagger" : "2.0",
  "info" : {
    "version" : "Latest",
    "title" : "ORCID Public"
  },
  "host" : "pub.orcid.org",
  "tags" : [ {
    "name" : "Identifier API"
  }, {
    "name" : "Public API v2.0"
  }, {
    "name" : "Public API v2.1"
  }, {
    "name" : "Development Public API v3.0"
  }, {
    "name" : "Development Public API v3.0_rc1"
  }, {
    "name" : "Development Public API v3.0_rc2"
  } ],
  "paths" : {
    "/v{version}/identifiers" : {
      "get" : {
        "tags" : [ "Identifier API" ],
        "summary" : "Fetch identifier type map. Defaults to English descriptions",
        "description" : "",
        "operationId" : "viewIdentifierTypes",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "locale",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ]
      }
    },
    "/v2.0/status" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Check the server status",
        "description" : "",
        "operationId" : "viewStatusText",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/activities" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all Activities",
        "description" : "",
        "operationId" : "viewActivities",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ActivitiesSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/peer-reviews" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all peer reviews",
        "description" : "",
        "operationId" : "viewPeerReviews",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/researcher-urls" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all researcher urls for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrls",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/researcher-urls/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch one researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrl",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/email" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all emails for an ORCID ID",
        "description" : "",
        "operationId" : "viewEmails",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmailsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/personal-details" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch personal details for an ORCID ID",
        "description" : "",
        "operationId" : "viewPersonalDetails",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonalDetailsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/other-names" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch Other names",
        "description" : "",
        "operationId" : "viewOtherNames",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNamesV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/other-names/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch Other name",
        "description" : "",
        "operationId" : "viewOtherName",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNameV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/external-identifiers" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch external identifiers",
        "description" : "",
        "operationId" : "viewExternalIdentifiers",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifiersV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ]
      }
    },
    "/v2.0/{orcid}/external-identifiers/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch external identifier",
        "description" : "",
        "operationId" : "viewExternalIdentifier",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/keywords" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch keywords",
        "description" : "",
        "operationId" : "viewKeywords",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/keywords/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch keyword",
        "description" : "",
        "operationId" : "viewKeyword",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/address" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all addresses",
        "description" : "",
        "operationId" : "viewAddresses",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressesV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/address/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch an address",
        "description" : "",
        "operationId" : "viewAddress",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/biography" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Get biography details",
        "description" : "",
        "operationId" : "viewBiography",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BiographyV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/person" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch person details",
        "description" : "",
        "operationId" : "viewPerson",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch record details",
        "description" : "",
        "operationId" : "viewRecord",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/ld+json; qs=2" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordV2_0"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/record-2.0.xsd"
        }
      }
    },
    "/v2.0/search" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQuery",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SearchV2_0"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/search-2.0.xsd"
        }
      }
    },
    "/v2.0/client/{client_id}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch client details",
        "description" : "",
        "operationId" : "viewClient",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "pattern" : "[^/]+"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClientSummary"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/client-2.0.xsd"
        }
      }
    },
    "/v2.0/{orcid}/work/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Work",
        "description" : "More notes about this method",
        "operationId" : "viewWork",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/vnd.citationstyles.csl+json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/work/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Work Summary",
        "description" : "",
        "operationId" : "viewWorkSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/works" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all works",
        "description" : "",
        "operationId" : "viewWorks",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorksSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/works/{putCodes}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch specified works",
        "description" : "",
        "operationId" : "viewSpecifiedWorks",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCodes",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkBulkV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/funding/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Funding",
        "description" : "",
        "operationId" : "viewFunding",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/funding/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Funding Summary",
        "description" : "",
        "operationId" : "viewFundingSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/fundings" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all fundings",
        "description" : "",
        "operationId" : "viewFundings",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingsV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/education/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch an Education",
        "description" : "",
        "operationId" : "viewEducation",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/education/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch an Education Summary",
        "description" : "",
        "operationId" : "viewEducationSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/educations" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all educations",
        "description" : "",
        "operationId" : "viewEducations",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/employment/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch an Employment",
        "description" : "Retrive a specific education representation",
        "operationId" : "viewEmployment",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Employment found",
            "schema" : {
              "$ref" : "#/definitions/EmploymentV2_0"
            }
          },
          "404" : {
            "description" : "Employment not found"
          }
        }
      }
    },
    "/v2.0/{orcid}/employment/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch an Employment Summary",
        "description" : "",
        "operationId" : "viewEmploymentSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/employments" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch all employments",
        "description" : "",
        "operationId" : "viewEmployments",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/peer-review/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Peer Review",
        "description" : "",
        "operationId" : "viewPeerReview",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewV2_0"
            }
          }
        }
      }
    },
    "/v2.0/{orcid}/peer-review/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.0" ],
        "summary" : "Fetch a Peer Review Summary",
        "description" : "",
        "operationId" : "viewPeerReviewSummary",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/status" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Check the server status",
        "description" : "",
        "operationId" : "viewStatusTextV21",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/activities" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all Activities",
        "description" : "",
        "operationId" : "viewActivitiesV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ActivitiesSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-reviews" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all peer reviews",
        "description" : "",
        "operationId" : "viewPeerReviewsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/researcher-urls" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all researcher urls for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrlsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v2.1/{orcid}/researcher-urls/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch one researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrlV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResearcherUrlsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/email" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all emails for an ORCID ID",
        "description" : "",
        "operationId" : "viewEmailsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmailsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/personal-details" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch personal details for an ORCID ID",
        "description" : "",
        "operationId" : "viewPersonalDetailsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonalDetailsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/other-names" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch Other names",
        "description" : "",
        "operationId" : "viewOtherNamesV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNamesV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/other-names/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch Other name",
        "description" : "",
        "operationId" : "viewOtherNameV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OtherNameV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/external-identifiers" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch external identifiers",
        "description" : "",
        "operationId" : "viewExternalIdentifiersV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifiersV2_0"
            }
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ]
      }
    },
    "/v2.1/{orcid}/external-identifiers/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch external identifier",
        "description" : "",
        "operationId" : "viewExternalIdentifierV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonExternalIdentifierV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/keywords" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch keywords",
        "description" : "",
        "operationId" : "viewKeywordsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/keywords/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch keyword",
        "description" : "",
        "operationId" : "viewKeywordV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KeywordV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/address" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all addresses",
        "description" : "",
        "operationId" : "viewAddressesV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressesV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/address/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch an address",
        "description" : "",
        "operationId" : "viewAddressV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AddressV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/biography" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Get biography details",
        "description" : "",
        "operationId" : "viewBiographyV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BiographyV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/person" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch person details",
        "description" : "",
        "operationId" : "viewPersonV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch record details",
        "description" : "",
        "operationId" : "viewRecordV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/ld+json; qs=2" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordV2_0"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/record-2.0.xsd"
        }
      }
    },
    "/v2.1/search" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQueryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SearchV2_0"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/search-2.0.xsd"
        }
      }
    },
    "/v2.1/client/{client_id}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch client details",
        "description" : "",
        "operationId" : "viewClientV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "pattern" : "[^/]+"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ClientSummary"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/client-2.0.xsd"
        }
      }
    },
    "/v2.1/{orcid}/work/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Work",
        "description" : "More notes about this method",
        "operationId" : "viewWorkV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/vnd.citationstyles.csl+json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/work/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Work Summary",
        "description" : "",
        "operationId" : "viewWorkSummaryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/works" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all works",
        "description" : "",
        "operationId" : "viewWorksV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorksSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/works/{putCodes}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch specified works",
        "description" : "",
        "operationId" : "viewSpecifiedWorksV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCodes",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkBulkV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/funding/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Funding",
        "description" : "",
        "operationId" : "viewFundingV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/funding/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Funding Summary",
        "description" : "",
        "operationId" : "viewFundingSummaryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/fundings" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all fundings",
        "description" : "",
        "operationId" : "viewFundingsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/education/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch an Education",
        "description" : "",
        "operationId" : "viewEducationV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/education/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch an Education Summary",
        "description" : "",
        "operationId" : "viewEducationSummaryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/educations" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all educations",
        "description" : "",
        "operationId" : "viewEducationsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/employment/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch an Employment",
        "description" : "Retrive a specific education representation",
        "operationId" : "viewEmploymentV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Employment found",
            "schema" : {
              "$ref" : "#/definitions/EmploymentV2_0"
            }
          },
          "404" : {
            "description" : "Employment not found"
          }
        }
      }
    },
    "/v2.1/{orcid}/employment/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch an Employment Summary",
        "description" : "",
        "operationId" : "viewEmploymentSummaryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/employments" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch all employments",
        "description" : "",
        "operationId" : "viewEmploymentsV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-review/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Peer Review",
        "description" : "",
        "operationId" : "viewPeerReviewV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-review/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Public API v2.1" ],
        "summary" : "Fetch a Peer Review Summary",
        "description" : "",
        "operationId" : "viewPeerReviewSummaryV21",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewSummaryV2_0"
            }
          }
        }
      }
    },
    "/v3.0/status" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Check the server status",
        "description" : "",
        "operationId" : "viewStatusTextv3",
        "produces" : [ "text/plain" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/v3.0/pubStatus" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "operationId" : "viewStatusJson",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/activities" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all Activities",
        "description" : "",
        "operationId" : "viewActivitiesv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ActivitiesSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/peer-reviews" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all peer reviews",
        "description" : "",
        "operationId" : "viewPeerReviewsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewsV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/researcher-urls" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all researcher urls for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrlsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/researcher-urls/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch one researcher url for an ORCID ID",
        "description" : "",
        "operationId" : "viewResearcherUrlv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/email" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all emails for an ORCID ID",
        "description" : "",
        "operationId" : "viewEmailsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/personal-details" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch personal details for an ORCID ID",
        "description" : "",
        "operationId" : "viewPersonalDetailsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/other-names" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch Other names",
        "description" : "",
        "operationId" : "viewOtherNamesv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/other-names/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch Other name",
        "description" : "",
        "operationId" : "viewOtherNamev3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/external-identifiers" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch external identifiers",
        "description" : "",
        "operationId" : "viewExternalIdentifiersv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "security" : [ {
          "orcid_two_legs" : [ "/read-public" ]
        } ]
      }
    },
    "/v3.0/{orcid}/external-identifiers/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch external identifier",
        "description" : "",
        "operationId" : "viewExternalIdentifierv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/keywords" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch keywords",
        "description" : "",
        "operationId" : "viewKeywordsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/keywords/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch keyword",
        "description" : "",
        "operationId" : "viewKeywordv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/address" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all addresses",
        "description" : "",
        "operationId" : "viewAddressesv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/address/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an address",
        "description" : "",
        "operationId" : "viewAddressv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/biography" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Get biography details",
        "description" : "",
        "operationId" : "viewBiographyv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}/person" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch person details",
        "description" : "",
        "operationId" : "viewPersonv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/v3.0/{orcid}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch record details",
        "description" : "",
        "operationId" : "viewRecordv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/ld+json; qs=2" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordV3_0"
            }
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/record-3.0.xsd"
        }
      }
    },
    "/v3.0/search" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQueryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/search-3.0.xsd"
        }
      }
    },
    "/v3.0/csv-search" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQueryv3",
        "produces" : [ "text/csv" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/search-3.0.xsd"
        }
      }
    },
    "/v3.0/expanded-search" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Search records",
        "description" : "",
        "operationId" : "searchByQueryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/expanded-search-3.0.xsd"
        }
      }
    },
    "/v3.0/client/{client_id}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch client details",
        "description" : "",
        "operationId" : "viewClientv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "client_id",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "pattern" : "[^/]+"
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "externalDocs" : {
          "description" : "Record XML Schema",
          "url" : "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/client-3.0.xsd"
        }
      }
    },
    "/v3.0/{orcid}/distinction/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Distinction",
        "description" : "",
        "operationId" : "viewDistinctionv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DistinctionV3_0"
            }
          },
          "404" : {
            "description" : "putCode not found",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid putCode or ORCID ID",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v3.0/{orcid}/distinctions" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all distinctions",
        "description" : "",
        "operationId" : "viewDistinctionsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DistinctionsSummaryV3_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v3.0/{orcid}/distinction/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Distinction summary",
        "description" : "",
        "operationId" : "viewDistinctionSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DistinctionSummaryV3_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v3.0/{orcid}/invited-position/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an InvitedPosition",
        "description" : "",
        "operationId" : "viewInvitedPositionv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/InvitedPositionV3_0"
            }
          },
          "404" : {
            "description" : "putCode not found",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid putCode or ORCID ID",
            "schema" : {
              "type" : "string"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v3.0/{orcid}/invited-positions" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all invitedPositions",
        "description" : "",
        "operationId" : "viewInvitedPositionsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/InvitedPositionsV3_0"
            }
          }
        },
        "security" : [ {
          "orcid_auth" : [ "/read-limited" ]
        } ]
      }
    },
    "/v3.0/{orcid}/work/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Work",
        "description" : "More notes about this method",
        "operationId" : "viewWorkv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json", "application/vnd.citationstyles.csl+json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/work/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Work Summary",
        "description" : "",
        "operationId" : "viewWorkSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/works" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all works",
        "description" : "",
        "operationId" : "viewWorksv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorksSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/works/{putCodes}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch specified works",
        "description" : "",
        "operationId" : "viewSpecifiedWorksv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCodes",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkBulkV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/funding/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Funding",
        "description" : "",
        "operationId" : "viewFundingv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/funding/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Funding Summary",
        "description" : "",
        "operationId" : "viewFundingSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/fundings" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all fundings",
        "description" : "",
        "operationId" : "viewFundingsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingsV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/education/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Education",
        "description" : "",
        "operationId" : "viewEducationv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/education/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Education Summary",
        "description" : "",
        "operationId" : "viewEducationSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/educations" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all educations",
        "description" : "",
        "operationId" : "viewEducationsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EducationsSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/employment/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Employment",
        "description" : "Retrive a specific education representation",
        "operationId" : "viewEmploymentv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Employment found",
            "schema" : {
              "$ref" : "#/definitions/EmploymentV3_0"
            }
          },
          "404" : {
            "description" : "Employment not found"
          }
        }
      }
    },
    "/v3.0/{orcid}/employment/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an Employment Summary",
        "description" : "",
        "operationId" : "viewEmploymentSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EmploymentSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/employments" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch all employments",
        "description" : "",
        "operationId" : "viewEmploymentsv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FundingsV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/peer-review/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Peer Review",
        "description" : "",
        "operationId" : "viewPeerReviewv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/peer-review/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch a Peer Review Summary",
        "description" : "",
        "operationId" : "viewPeerReviewSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PeerReviewSummaryV3_0"
            }
          }
        }
      }
    },
    "/v3.0/{orcid}/invited-position/summary/{putCode}" : {
      "get" : {
        "tags" : [ "Development Public API v3.0" ],
        "summary" : "Fetch an InvitedPosition summary",
        "description" : "",
        "operationId" : "viewInvitedPositionSummaryv3",
        "produces" : [ "application/vnd.orcid+xml; qs=5", "application/orcid+xml; qs=3", "application/xml", "application/vnd.orcid+json; qs=4", "application/orcid+json; qs=2", "application/json" ],
        "parameters" : [ {
          "name" : "orcid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "putCode",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
[...]
