  name: Deploy to Github Pages
  on:
    push:
      branches:
        - main
  jobs:
    gh-pages-deploy:
      name: Deploying to Github Pages
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v2
            with:
              node-version: '12'
          - name: Install packages
            run: cd department-of-reuse; npm i
          - name: Set Creds
            run: git config user.name "Ben Hermann" && git config user.email "ben.hermann@googlemail.com"
          - name: Deploy
            run: cd department-of-reuse; npm run deploy
